<!DOCTYPE html>
<html lang="ru-ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="author" Content="Kolpakov Danil">
	<meta name="copyright" Content="copyright">
	<meta name="description" Content="description">
	<meta name="keywords" Content ="html, css, js, jquery">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="max-age=43200, must-revalidate">
	<title>Title</title>
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="style/vendor/style.min.css">
	<link rel="stylesheet" href="style/main.min.css">
</head>
<body>